block variables
  -
    const title = "Stalevar"
    const description = ""
    const keywords = ""
    const styles = ['./calc-section-tpl']

include ../../pug/layouts/main-layout

main
  block content
    include ../../pug/blocks/calc/calc

