section
  .container
    .lw-calc
      .swiper
        .swiper-wrapper
          .swiper-slide
            .lw-calc__step
              .lw-calc__step-underlay(aria-hidden="true")
              .lw-calc__step-num 
                span 1
                small Шаг
              .lw-calc__step-value 
                span Модель <br>двери
                small Solo 1
          .swiper-slide
            .lw-calc__step
              .lw-calc__step-underlay(aria-hidden="true")
              .lw-calc__step-num 
                span 2 
                small Шаг 
              .lw-calc__step-value 
                span Покрытие <br>двери
                small Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis dolorem similique et. Repellat nam nemo libero! Numquam provident fugit aliquid commodi adipisci fugiat quam laudantium, ipsum natus vitae optio atque.
          .swiper-slide
            .lw-calc__step
              .lw-calc__step-underlay(aria-hidden="true")
              .lw-calc__step-num
                span 3 
                small Шаг
              .lw-calc__step-value 
                span Наружняя отделка и&nbsp;фурнитура
                small Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum eligendi facilis iusto enim, eum cum cupiditate unde exercitationem dolore asperiores officia eius autem amet atque accusamus sunt dolorem commodi sit.
          .swiper-slide
            .lw-calc__step
              .lw-calc__step-underlay(aria-hidden="true")
              .lw-calc__step-num 
                span 4 
                small Шаг
              .lw-calc__step-value 
                span Внутренняя отделка и&nbsp;фурнитура
                small Solo 1
          .swiper-slide
            .lw-calc__step
              .lw-calc__step-underlay(aria-hidden="true")
              .lw-calc__step-num 
                span 5 
                small Шаг
              .lw-calc__step-value 
                span Наличник, порог, портал, глазок
                small Solo 1
          .swiper-slide
            .lw-calc__step
              .lw-calc__step-underlay(aria-hidden="true")
              .lw-calc__step-num 
                span 6
                small Шаг
              .lw-calc__step-value 
                span Итого
                small Solo 1

      .lw-calc__content
        .lw-calc__field.active
          span 1 step
        .lw-calc__field
          span 2 step
        .lw-calc__field
          span 3 step
        .lw-calc__field
          span 4 step
        .lw-calc__field
          span 5 step
        .lw-calc__field
          span 6 step

      .lw-calc__footer
        button.lw-calc__btn.lw-calc__btn--prev Назад
        button.lw-calc__btn.lw-calc__btn--next Вперед
