-
  const step3_content = [
    {
      id: 'step3_1',
      img: 'step3-1',
      name: 'Гранд',
      price: '8 000 ₽',
      collectionId: '1',
      ctrlName: 'Модель наружной стороны',
      checked: true
    },
    {
      id: 'step3_2',
      img: 'step3-2',
      name: 'Элит',
      price: '9 000 ₽',
      collectionId: '2',
      ctrlName: 'Модель наружной стороны',
    },
    {
      id: 'step3_3',
      img: 'step3-3',
      name: 'Триумф',
      price: '8 000 ₽',
      collectionId: '3',
      ctrlName: 'Модель наружной стороны',
    },
    {
      id: 'step3_4',
      img: 'step3-4',
      name: 'Отражение',
      price: '9 500 ₽',
      collectionId: '4',
      ctrlName: 'Модель наружной стороны',
    },
    {
      id: 'step3_5',
      img: 'step3-5',
      name: 'Миленниум',
      price: '9 000 ₽',
      collectionId: '5',
      ctrlName: 'Модель наружной стороны',
    },
    {
      id: 'step3_6',
      img: 'step3-6',
      name: 'Классика',
      price: '8 000 ₽',
      collectionId: '6',
      ctrlName: 'Модель наружной стороны',
    },
    {
      id: 'step3_7',
      img: 'step3-7',
      name: 'Без отделки',
      disableCollection: true,
      price: '0 ₽',
      ctrlName: 'Модель наружной стороны',
    }
  ]

  const step3_bottom_section_left_content = [
    {
      id: 'step3_1_1',
      img: 'step3_1-1',
      name: 'Ясень белый',
      ctrlName: 'ПВХ покрытие наружное',
      dataCoverTexture: true,
      checked: true
    },
    {
      id: 'step3_1_2',
      img: 'step3_1-2',
      name: 'Ясень Шиво светлый',
      dataCoverTexture: true,
      ctrlName: 'ПВХ покрытие наружное',
    },
    {
      id: 'step3_1_3',
      img: 'step3_1-3',
      name: 'Ясень черный',
      dataCoverTexture: true,
      ctrlName: 'ПВХ покрытие наружное',
    },
    {
      id: 'step3_1_4',
      img: 'step3_1-4',
      name: 'Ясень рифленый золото',
      dataCoverTexture: true,
      ctrlName: 'ПВХ покрытие наружное',
    },
    {
      id: 'step3_1_5',
      img: 'step3_1-5',
      name: 'Шампань темная',
      dataCoverTexture: true,
      ctrlName: 'ПВХ покрытие наружное',
    },
    {
      id: 'step3_1_6',
      img: 'step3_1-6',
      name: 'Черная шагрень',
      dataCoverTexture: true,
      ctrlName: 'ПВХ покрытие наружное',
    },
    {
      id: 'step3_1_7',
      img: 'step3_1-7',
      name: 'Тиковое дерево',
      dataCoverTexture: true,
      ctrlName: 'ПВХ покрытие наружное',
    },
    {
      id: 'step3_1_8',
      img: 'step3_1-8',
      name: 'Старое дерево',
      dataCoverTexture: true,
      ctrlName: 'ПВХ покрытие наружное',
    },
    {
      id: 'step3_1_9',
      img: 'step3_1-9',
      name: 'Саппели',
      dataCoverTexture: true,
      ctrlName: 'ПВХ покрытие наружное',
    },
    {
      id: 'step3_1_10',
      img: 'step3_1-10',
      name: 'Сандал серый',
      dataCoverTexture: true,
      ctrlName: 'ПВХ покрытие наружное',
    },
    {
      id: 'step3_1_11',
      img: 'step3_1-11',
      name: 'Сандал белый',
      dataCoverTexture: true,
      ctrlName: 'ПВХ покрытие наружное',
    },
    {
      id: 'step3_1_12',
      img: 'step3_1-12',
      name: 'Риф белоснежный',
      dataCoverTexture: true,
      ctrlName: 'ПВХ покрытие наружное',
    },
    {
      id: 'step3_1_13',
      img: 'step3_1-13',
      name: 'Орех',
      dataCoverTexture: true,
      ctrlName: 'ПВХ покрытие наружное',
    },
    {
      id: 'step3_1_14',
      img: 'step3_1-14',
      name: 'Орех грецкий',
      dataCoverTexture: true,
      ctrlName: 'ПВХ покрытие наружное',
    },
    {
      id: 'step3_1_15',
      img: 'step3_1-15',
      name: 'Орех 304',
      dataCoverTexture: true,
      ctrlName: 'ПВХ покрытие наружное',
    },
    {
      id: 'step3_1_16',
      img: 'step3_1-16',
      name: 'Молочный софт',
      dataCoverTexture: true,
      ctrlName: 'ПВХ покрытие наружное',
    },
    {
      id: 'step3_1_17',
      img: 'step3_1-17',
      name: 'Миланский орех',
      dataCoverTexture: true,
      ctrlName: 'ПВХ покрытие наружное',
    },
    {
      id: 'step3_1_18',
      img: 'step3_1-18',
      name: 'Металлик',
      dataCoverTexture: true,
      ctrlName: 'ПВХ покрытие наружное',
    },
    {
      id: 'step3_1_19',
      img: 'step3_1-19',
      name: 'Лиственница темная',
      dataCoverTexture: true,
      ctrlName: 'ПВХ покрытие наружное',
    },
    {
      id: 'step3_1_20',
      img: 'step3_1-20',
      name: 'Кремовый шелк',
      dataCoverTexture: true,
      ctrlName: 'ПВХ покрытие наружное',
    },
    {
      id: 'step3_1_21',
      img: 'step3_1-21',
      name: 'Красное дерево',
      dataCoverTexture: true,
      ctrlName: 'ПВХ покрытие наружное',
    },
    {
      id: 'step3_1_22',
      img: 'step3_1-22',
      name: 'Кофейное дерево',
      dataCoverTexture: true,
      ctrlName: 'ПВХ покрытие наружное',
    },
    {
      id: 'step3_1_23',
      img: 'step3_1-23',
      name: 'Кокос',
      dataCoverTexture: true,
      ctrlName: 'ПВХ покрытие наружное',
    },
    {
      id: 'step3_1_24',
      img: 'step3_1-24',
      name: 'Капучино',
      dataCoverTexture: true,
      ctrlName: 'ПВХ покрытие наружное',
    },
    {
      id: 'step3_1_25',
      img: 'step3_1-25',
      name: 'Итальянский орех',
      dataCoverTexture: true,
      ctrlName: 'ПВХ покрытие наружное',
    },
    {
      id: 'step3_1_26',
      img: 'step3_1-26',
      name: 'Дуб янтарный',
      dataCoverTexture: true,
      ctrlName: 'ПВХ покрытие наружное',
    },
    {
      id: 'step3_1_27',
      img: 'step3_1-27',
      name: 'Дуб шоколадный',
      dataCoverTexture: true,
      ctrlName: 'ПВХ покрытие наружное',
    },
    {
      id: 'step3_1_28',
      img: 'step3_1-28',
      name: 'Дуб темный',
      dataCoverTexture: true,
      ctrlName: 'ПВХ покрытие наружное',
    },
    {
      id: 'step3_1_29',
      img: 'step3_1-29',
      name: 'Дуб сонома',
      dataCoverTexture: true,
      ctrlName: 'ПВХ покрытие наружное',
    },
    {
      id: 'step3_1_30',
      img: 'step3_1-30',
      name: 'Дуб седой',
      dataCoverTexture: true,
      ctrlName: 'ПВХ покрытие наружное',
    },
    {
      id: 'step3_1_31',
      img: 'step3_1-31',
      name: 'Дуб светлый',
      dataCoverTexture: true,
      ctrlName: 'ПВХ покрытие наружное',
    },
    {
      id: 'step3_1_32',
      img: 'step3_1-32',
      name: 'Дуб поперечный',
      dataCoverTexture: true,
      ctrlName: 'ПВХ покрытие наружное',
    },
    {
      id: 'step3_1_33',
      img: 'step3_1-33',
      name: 'Дуб мореный',
      dataCoverTexture: true,
      ctrlName: 'ПВХ покрытие наружное',
    },
    {
      id: 'step3_1_34',
      img: 'step3_1-34',
      name: 'Дуб кантри светлый',
      dataCoverTexture: true,
      ctrlName: 'ПВХ покрытие наружное',
    },
    {
      id: 'step3_1_35',
      img: 'step3_1-35',
      name: 'Дуб венецианский',
      dataCoverTexture: true,
      ctrlName: 'ПВХ покрытие наружное',
    },
    {
      id: 'step3_1_36',
      img: 'step3_1-36',
      name: 'Дуб беленый',
      dataCoverTexture: true,
      ctrlName: 'ПВХ покрытие наружное',
    },
    {
      id: 'step3_1_37',
      img: 'step3_1-37',
      name: 'Дуб бежевый',
      dataCoverTexture: true,
      ctrlName: 'ПВХ покрытие наружное',
    },
    {
      id: 'step3_1_38',
      img: 'step3_1-38',
      name: 'Венге',
      dataCoverTexture: true,
      ctrlName: 'ПВХ покрытие наружное',
    },
    {
      id: 'step3_1_39',
      img: 'step3_1-39',
      name: 'Венге светлый рифленый',
      dataCoverTexture: true,
      ctrlName: 'ПВХ покрытие наружное',
    },
    {
      id: 'step3_1_40',
      img: 'step3_1-40',
      name: 'Венге поперечный',
      dataCoverTexture: true,
      ctrlName: 'ПВХ покрытие наружное',
    },
    {
      id: 'step3_1_41',
      img: 'step3_1-41',
      name: 'Белая шагрень',
      dataCoverTexture: true,
      ctrlName: 'ПВХ покрытие наружное',
    },
  ]

  const step3_bottom_section_middle_content = [
    {
      id: 'step3_2_1',
      img: 'gold-pattern',
      title: 'Золотой',
      name: 'Фур. зол.',
      price: '1 500 ₽',
      ctrlName: 'Фурнитура наружная',
      hardwareTextureSrc: './assets/img/gold-hardware.png',
      checked: true
    },
    {
      id: 'step3_2_2',
      img: 'silver-pattern',
      title: 'Хром',
      name: 'Фур. хром',
      price: '0 ₽',
      hardwareTextureSrc: './assets/img/silver-hardware.png',
      ctrlName: 'Фурнитура наружная',
    },
    {
      id: 'step3_2_3',
      img: 'black-pattern',
      title: 'Черный',
      name: 'Фур. чер.',
      price: '2 500 ₽',
      hardwareTextureSrc: './assets/img/black-hardware.png',
      ctrlName: 'Фурнитура наружная',
    },
  ]

  const step3_bottom_section_right_content = [
    {
      id: 'step3_3_1_1',
      img: 'textures/grand/1',
      name: 'Оф. 1',
      collectionId: 1,
      ctrlName: 'Оформление наружное',
      transparent: true,
      checked: true
    },
    {
      id: 'step3_3_1_2',
      img: 'textures/grand/2',
      name: 'Оф. 2',
      collectionId: 1,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_1_3',
      img: 'textures/grand/3',
      name: 'Оф. 3',
      collectionId: 1,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_1_4',
      img: 'textures/grand/4',
      name: 'Оф. 4',
      collectionId: 1,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_1_5',
      img: 'textures/grand/5',
      name: 'Оф. 5',
      collectionId: 1,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_1_6',
      img: 'textures/grand/6',
      name: 'Оф. 6',
      collectionId: 1,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_1_7',
      img: 'textures/grand/7',
      name: 'Оф. 7',
      collectionId: 1,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_1_8',
      img: 'textures/grand/8',
      name: 'Оф. 8',
      collectionId: 1,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_1_9',
      img: 'textures/grand/9',
      name: 'Оф. 9',
      collectionId: 1,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_1_10',
      img: 'textures/grand/10',
      name: 'Оф. 10',
      collectionId: 1,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_1_11',
      img: 'textures/grand/11',
      name: 'Оф. 11',
      collectionId: 1,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_1_12',
      img: 'textures/grand/12',
      name: 'Оф. 12',
      collectionId: 1,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_1_13',
      img: 'textures/grand/13',
      name: 'Оф. 13',
      collectionId: 1,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_1_14',
      img: 'textures/grand/14',
      name: 'Оф. 14',
      collectionId: 1,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_1_15',
      img: 'textures/grand/15',
      name: 'Оф. 15',
      collectionId: 1,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_1_16',
      img: 'textures/grand/16',
      name: 'Оф. 16',
      collectionId: 1,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_1_17',
      img: 'textures/grand/17',
      name: 'Оф. 17',
      collectionId: 1,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_1_18',
      img: 'textures/grand/18',
      name: 'Оф. 18',
      collectionId: 1,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_1_19',
      img: 'textures/grand/19',
      name: 'Оф. 19',
      collectionId: 1,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_1_20',
      img: 'textures/grand/20',
      name: 'Оф. 20',
      collectionId: 1,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_1_21',
      img: 'textures/grand/21',
      name: 'Оф. 21',
      collectionId: 1,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_1_22',
      img: 'textures/grand/22',
      name: 'Оф. 22',
      collectionId: 1,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_1_23',
      img: 'textures/grand/23',
      name: 'Оф. 23',
      collectionId: 1,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_1_24',
      img: 'textures/grand/24',
      name: 'Оф. 24',
      collectionId: 1,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_1_25',
      img: 'textures/grand/25',
      name: 'Оф. 25',
      collectionId: 1,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_1_26',
      img: 'textures/grand/26',
      name: 'Оф. 26',
      collectionId: 1,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_1_27',
      img: 'textures/grand/27',
      name: 'Оф. 27',
      collectionId: 1,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_1_28',
      img: 'textures/grand/28',
      name: 'Оф. 28',
      collectionId: 1,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_1_29',
      img: 'textures/grand/29',
      name: 'Оф. 29',
      collectionId: 1,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_1_30',
      img: 'textures/grand/30',
      name: 'Оф. 30',
      collectionId: 1,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_1_31',
      img: 'textures/grand/31',
      name: 'Оф. 31',
      collectionId: 1,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_1_32',
      img: 'textures/grand/32',
      name: 'Оф. 32',
      collectionId: 1,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_1_33',
      img: 'textures/grand/33',
      name: 'Оф. 33',
      collectionId: 1,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_1_34',
      img: 'textures/grand/34',
      name: 'Оф. 34',
      collectionId: 1,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_1_35',
      img: 'textures/grand/35',
      name: 'Оф. 35',
      collectionId: 1,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_1_36',
      img: 'textures/grand/36',
      name: 'Оф. 36',
      collectionId: 1,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_1_37',
      img: 'textures/grand/37',
      name: 'Оф. 37',
      collectionId: 1,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_1_38',
      img: 'textures/grand/38',
      name: 'Оф. 38',
      collectionId: 1,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_1_39',
      img: 'textures/grand/39',
      name: 'Оф. 39',
      collectionId: 1,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_2_1',
      img: 'textures/elite/1',
      name: 'Оф. 1',
      collectionId: 2,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_2_2',
      img: 'textures/elite/2',
      name: 'Оф. 2',
      collectionId: 2,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_2_3',
      img: 'textures/elite/3',
      name: 'Оф. 3',
      collectionId: 2,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_2_4',
      img: 'textures/elite/4',
      name: 'Оф. 4',
      collectionId: 2,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_2_5',
      img: 'textures/elite/5',
      name: 'Оф. 5',
      collectionId: 2,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_2_6',
      img: 'textures/elite/6',
      name: 'Оф. 6',
      collectionId: 2,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_2_7',
      img: 'textures/elite/7',
      name: 'Оф. 7',
      collectionId: 2,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_2_8',
      img: 'textures/elite/8',
      name: 'Оф. 8',
      collectionId: 2,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_2_9',
      img: 'textures/elite/9',
      name: 'Оф. 9',
      collectionId: 2,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_2_10',
      img: 'textures/elite/10',
      name: 'Оф. 10',
      collectionId: 2,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_2_11',
      img: 'textures/elite/11',
      name: 'Оф. 11',
      collectionId: 2,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_2_12',
      img: 'textures/elite/12',
      name: 'Оф. 12',
      collectionId: 2,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_2_13',
      img: 'textures/elite/13',
      name: 'Оф. 13',
      collectionId: 2,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_2_14',
      img: 'textures/elite/14',
      name: 'Оф. 14',
      collectionId: 2,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_2_15',
      img: 'textures/elite/15',
      name: 'Оф. 15',
      collectionId: 2,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_2_16',
      img: 'textures/elite/16',
      name: 'Оф. 16',
      collectionId: 2,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_2_17',
      img: 'textures/elite/17',
      name: 'Оф. 17',
      collectionId: 2,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_2_18',
      img: 'textures/elite/18',
      name: 'Оф. 18',
      collectionId: 2,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_2_19',
      img: 'textures/elite/19',
      name: 'Оф. 19',
      collectionId: 2,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_2_20',
      img: 'textures/elite/20',
      name: 'Оф. 20',
      collectionId: 2,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_2_21',
      img: 'textures/elite/21',
      name: 'Оф. 21',
      collectionId: 2,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_2_22',
      img: 'textures/elite/22',
      name: 'Оф. 22',
      collectionId: 2,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_2_23',
      img: 'textures/elite/23',
      name: 'Оф. 23',
      collectionId: 2,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_2_24',
      img: 'textures/elite/24',
      name: 'Оф. 24',
      collectionId: 2,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_2_25',
      img: 'textures/elite/25',
      name: 'Оф. 25',
      collectionId: 2,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_2_26',
      img: 'textures/elite/26',
      name: 'Оф. 26',
      collectionId: 2,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_2_27',
      img: 'textures/elite/27',
      name: 'Оф. 27',
      collectionId: 2,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_2_28',
      img: 'textures/elite/28',
      name: 'Оф. 28',
      collectionId: 2,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_2_29',
      img: 'textures/elite/29',
      name: 'Оф. 29',
      collectionId: 2,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_2_30',
      img: 'textures/elite/30',
      name: 'Оф. 30',
      collectionId: 2,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_2_31',
      img: 'textures/elite/31',
      name: 'Оф. 31',
      collectionId: 2,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_2_32',
      img: 'textures/elite/32',
      name: 'Оф. 32',
      collectionId: 2,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_3_1',
      img: 'textures/triumph/1',
      name: 'Оф. 1',
      collectionId: 3,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_3_2',
      img: 'textures/triumph/2',
      name: 'Оф. 2',
      collectionId: 3,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_3_3',
      img: 'textures/triumph/3',
      name: 'Оф. 3',
      collectionId: 3,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_3_4',
      img: 'textures/triumph/4',
      name: 'Оф. 4',
      collectionId: 3,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_3_5',
      img: 'textures/triumph/5',
      name: 'Оф. 5',
      collectionId: 3,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_3_6',
      img: 'textures/triumph/6',
      name: 'Оф. 6',
      collectionId: 3,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_3_7',
      img: 'textures/triumph/7',
      name: 'Оф. 7',
      collectionId: 3,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_3_8',
      img: 'textures/triumph/8',
      name: 'Оф. 8',
      collectionId: 3,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_3_9',
      img: 'textures/triumph/9',
      name: 'Оф. 9',
      collectionId: 3,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_3_10',
      img: 'textures/triumph/10',
      name: 'Оф. 10',
      collectionId: 3,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_3_11',
      img: 'textures/triumph/11',
      name: 'Оф. 11',
      collectionId: 3,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_3_12',
      img: 'textures/triumph/12',
      name: 'Оф. 12',
      collectionId: 3,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_3_13',
      img: 'textures/triumph/13',
      name: 'Оф. 13',
      collectionId: 3,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_3_14',
      img: 'textures/triumph/14',
      name: 'Оф. 14',
      collectionId: 3,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_3_15',
      img: 'textures/triumph/15',
      name: 'Оф. 15',
      collectionId: 3,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_3_16',
      img: 'textures/triumph/16',
      name: 'Оф. 16',
      collectionId: 3,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_3_17',
      img: 'textures/triumph/17',
      name: 'Оф. 17',
      collectionId: 3,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_3_18',
      img: 'textures/triumph/18',
      name: 'Оф. 18',
      collectionId: 3,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_3_19',
      img: 'textures/triumph/19',
      name: 'Оф. 19',
      collectionId: 3,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_3_20',
      img: 'textures/triumph/20',
      name: 'Оф. 20',
      collectionId: 3,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_3_21',
      img: 'textures/triumph/21',
      name: 'Оф. 21',
      collectionId: 3,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_3_22',
      img: 'textures/triumph/22',
      name: 'Оф. 22',
      collectionId: 3,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_3_23',
      img: 'textures/triumph/23',
      name: 'Оф. 23',
      collectionId: 3,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_3_24',
      img: 'textures/triumph/24',
      name: 'Оф. 24',
      collectionId: 3,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_3_25',
      img: 'textures/triumph/25',
      name: 'Оф. 25',
      collectionId: 3,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_3_26',
      img: 'textures/triumph/26',
      name: 'Оф. 26',
      collectionId: 3,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },

    {
      id: 'step3_3_4_1',
      img: 'textures/mirror/1',
      name: 'Оф. 1',
      collectionId: 4,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_4_2',
      img: 'textures/mirror/2',
      name: 'Оф. 2',
      collectionId: 4,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_4_3',
      img: 'textures/mirror/3',
      name: 'Оф. 3',
      collectionId: 4,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_4_4',
      img: 'textures/mirror/4',
      name: 'Оф. 4',
      collectionId: 4,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_4_5',
      img: 'textures/mirror/5',
      name: 'Оф. 5',
      collectionId: 4,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_4_6',
      img: 'textures/mirror/6',
      name: 'Оф. 6',
      collectionId: 4,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_4_7',
      img: 'textures/mirror/7',
      name: 'Оф. 7',
      collectionId: 4,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_4_8',
      img: 'textures/mirror/8',
      name: 'Оф. 8',
      collectionId: 4,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_4_9',
      img: 'textures/mirror/9',
      name: 'Оф. 9',
      collectionId: 4,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_4_10',
      img: 'textures/mirror/10',
      name: 'Оф. 10',
      collectionId: 4,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_4_11',
      img: 'textures/mirror/11',
      name: 'Оф. 11',
      collectionId: 4,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_4_12',
      img: 'textures/mirror/12',
      name: 'Оф. 12',
      collectionId: 4,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_4_13',
      img: 'textures/mirror/13',
      name: 'Оф. 13',
      collectionId: 4,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_4_14',
      img: 'textures/mirror/14',
      name: 'Оф. 14',
      collectionId: 4,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_4_15',
      img: 'textures/mirror/15',
      name: 'Оф. 15',
      collectionId: 4,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_4_16',
      img: 'textures/mirror/16',
      name: 'Оф. 16',
      collectionId: 4,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_4_17',
      img: 'textures/mirror/17',
      name: 'Оф. 17',
      collectionId: 4,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },

    {
      id: 'step3_3_5_1',
      img: 'textures/millenium/1',
      name: 'Оф. 1',
      collectionId: 5,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_5_2',
      img: 'textures/millenium/2',
      name: 'Оф. 2',
      collectionId: 5,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_5_3',
      img: 'textures/millenium/3',
      name: 'Оф. 3',
      collectionId: 5,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_5_4',
      img: 'textures/millenium/4',
      name: 'Оф. 4',
      collectionId: 5,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_5_5',
      img: 'textures/millenium/5',
      name: 'Оф. 5',
      collectionId: 5,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_5_6',
      img: 'textures/millenium/6',
      name: 'Оф. 6',
      collectionId: 5,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_5_7',
      img: 'textures/millenium/7',
      name: 'Оф. 7',
      collectionId: 5,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_5_8',
      img: 'textures/millenium/8',
      name: 'Оф. 8',
      collectionId: 5,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_5_9',
      img: 'textures/millenium/9',
      name: 'Оф. 9',
      collectionId: 5,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_5_10',
      img: 'textures/millenium/10',
      name: 'Оф. 10',
      collectionId: 5,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_5_11',
      img: 'textures/millenium/11',
      name: 'Оф. 11',
      collectionId: 5,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_5_12',
      img: 'textures/millenium/12',
      name: 'Оф. 12',
      collectionId: 5,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_5_13',
      img: 'textures/millenium/13',
      name: 'Оф. 13',
      collectionId: 5,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_5_14',
      img: 'textures/millenium/14',
      name: 'Оф. 14',
      collectionId: 5,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_5_15',
      img: 'textures/millenium/15',
      name: 'Оф. 15',
      collectionId: 5,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_5_16',
      img: 'textures/millenium/16',
      name: 'Оф. 16',
      collectionId: 5,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_5_17',
      img: 'textures/millenium/17',
      name: 'Оф. 17',
      collectionId: 5,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_5_18',
      img: 'textures/millenium/18',
      name: 'Оф. 18',
      collectionId: 5,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_5_19',
      img: 'textures/millenium/19',
      name: 'Оф. 19',
      collectionId: 5,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_5_20',
      img: 'textures/millenium/20',
      name: 'Оф. 20',
      collectionId: 5,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },

    {
      id: 'step3_3_6_1',
      img: 'textures/classic/1',
      name: 'Оф. 1',
      collectionId: 6,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_6_2',
      img: 'textures/classic/2',
      name: 'Оф. 2',
      collectionId: 6,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_6_3',
      img: 'textures/classic/3',
      name: 'Оф. 3',
      collectionId: 6,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_6_4',
      img: 'textures/classic/4',
      name: 'Оф. 4',
      collectionId: 6,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_6_5',
      img: 'textures/classic/5',
      name: 'Оф. 5',
      collectionId: 6,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_6_6',
      img: 'textures/classic/6',
      name: 'Оф. 6',
      collectionId: 6,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_6_7',
      img: 'textures/classic/7',
      name: 'Оф. 7',
      collectionId: 6,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_6_8',
      img: 'textures/classic/8',
      name: 'Оф. 8',
      collectionId: 6,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_6_9',
      img: 'textures/classic/9',
      name: 'Оф. 9',
      collectionId: 6,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_6_10',
      img: 'textures/classic/10',
      name: 'Оф. 10',
      collectionId: 6,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_6_11',
      img: 'textures/classic/11',
      name: 'Оф. 11',
      collectionId: 6,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_6_12',
      img: 'textures/classic/12',
      name: 'Оф. 12',
      collectionId: 6,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_6_13',
      img: 'textures/classic/13',
      name: 'Оф. 13',
      collectionId: 6,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_6_14',
      img: 'textures/classic/14',
      name: 'Оф. 14',
      collectionId: 6,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_6_15',
      img: 'textures/classic/15',
      name: 'Оф. 15',
      collectionId: 6,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_6_16',
      img: 'textures/classic/16',
      name: 'Оф. 16',
      collectionId: 6,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_6_17',
      img: 'textures/classic/17',
      name: 'Оф. 17',
      collectionId: 6,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_6_18',
      img: 'textures/classic/18',
      name: 'Оф. 18',
      collectionId: 6,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_6_19',
      img: 'textures/classic/19',
      name: 'Оф. 19',
      collectionId: 6,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_6_20',
      img: 'textures/classic/20',
      name: 'Оф. 20',
      collectionId: 6,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_6_21',
      img: 'textures/classic/21',
      name: 'Оф. 21',
      collectionId: 6,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_6_22',
      img: 'textures/classic/22',
      name: 'Оф. 22',
      collectionId: 6,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_6_23',
      img: 'textures/classic/23',
      name: 'Оф. 23',
      collectionId: 6,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_6_24',
      img: 'textures/classic/24',
      name: 'Оф. 24',
      collectionId: 6,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_6_25',
      img: 'textures/classic/25',
      name: 'Оф. 25',
      collectionId: 6,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_6_26',
      img: 'textures/classic/26',
      name: 'Оф. 26',
      collectionId: 6,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_6_27',
      img: 'textures/classic/27',
      name: 'Оф. 27',
      collectionId: 6,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_6_28',
      img: 'textures/classic/28',
      name: 'Оф. 28',
      collectionId: 6,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_6_29',
      img: 'textures/classic/29',
      name: 'Оф. 29',
      collectionId: 6,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_6_30',
      img: 'textures/classic/30',
      name: 'Оф. 30',
      collectionId: 6,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_6_31',
      img: 'textures/classic/31',
      name: 'Оф. 31',
      collectionId: 6,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_6_32',
      img: 'textures/classic/32',
      name: 'Оф. 32',
      collectionId: 6,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_6_33',
      img: 'textures/classic/33',
      name: 'Оф. 33',
      collectionId: 6,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_6_34',
      img: 'textures/classic/34',
      name: 'Оф. 34',
      collectionId: 6,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_6_35',
      img: 'textures/classic/35',
      name: 'Оф. 35',
      collectionId: 6,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_6_36',
      img: 'textures/classic/36',
      name: 'Оф. 36',
      collectionId: 6,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_6_37',
      img: 'textures/classic/37',
      name: 'Оф. 37',
      collectionId: 6,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_6_38',
      img: 'textures/classic/38',
      name: 'Оф. 38',
      collectionId: 6,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
    {
      id: 'step3_3_6_39',
      img: 'textures/classic/39',
      name: 'Оф. 39',
      collectionId: 6,
      ctrlName: 'Оформление наружное',
      transparent: true,
    },
  ]