- 
  const step2_content = [
    {
      id: 'step2_1',
      img: 'step2-1',
      name: 'Антик Медь',
      price: '0 ₽',
      ctrlName: 'Покрытие двери',
      checked: true
    },
    {
      id: 'step2_2',
      img: 'step2-2',
      name: 'Антик Медь',
      price: '0 ₽',
      ctrlName: 'Покрытие двери'
    },
    {
      id: 'step2_3',
      img: 'step2-3',
      name: 'Белая Шагрень',
      price: '2 000 ₽',
      ctrlName: 'Покрытие двери'
    },
    {
      id: 'step2_4',
      img: 'step2-4',
      name: 'Муар Антроцит',
      price: '1 500 ₽',
      ctrlName: 'Покрытие двери'
    }
  ]