- 
  const step1_content = [
    {
      id: 'step1_1',
      img: 'step1-1',
      name: 'Solo-1',
      price: '23 800 ₽',
      ctrlName: 'Модель двери',
      checked: true
    },
    {
      id: 'step1_2',
      img: 'step1-2',
      name: 'Solo-2',
      price: '25 800 ₽',
      ctrlName: 'Модель двери'
    },
    {
      id: 'step1_3',
      img: 'step1-3',
      name: 'Solo-3',
      price: '27 800 ₽',
      ctrlName: 'Модель двери'
    }
  ]

                