-
  const step3_content = [
    {
      id: 'step3_1',
      img: 'step3-1',
      name: 'Гранд',
      price: '8 000 ₽',
      ctrlName: 'Модель наружней стороны',
      checked: true
    },
    {
      id: 'step3_2',
      img: 'step3-2',
      name: 'Элит',
      price: '9 000 ₽',
      ctrlName: 'Модель наружней стороны',
    },
    {
      id: 'step3_3',
      img: 'step3-3',
      name: 'Триумф',
      price: '8 000 ₽',
      ctrlName: 'Модель наружней стороны',
    },
    {
      id: 'step3_4',
      img: 'step3-4',
      name: 'Отражение',
      price: '9 500 ₽',
      ctrlName: 'Модель наружней стороны',
    },
    {
      id: 'step3_5',
      img: 'step3-5',
      name: 'Миленниум',
      price: '9 000 ₽',
      ctrlName: 'Модель наружней стороны',
    },
    {
      id: 'step3_6',
      img: 'step3-6',
      name: 'Классика',
      price: '8 000 ₽',
      ctrlName: 'Модель наружней стороны',
    },
    {
      id: 'step3_7',
      img: 'step3-7',
      name: 'Без отделки',
      price: '0 ₽',
      ctrlName: 'Модель наружней стороны',
    }
  ]

  const step3_bottom_section_left_content = [
    {
      id: 'step3_1_1',
      img: 'step3_1-1',
      name: 'Ясень Шиво светлый',
      ctrlName: 'ПВХ покрытие наружное',
      checked: true
    },
    {
      id: 'step3_1_2',
      img: 'step3_1-2',
      name: 'Ясень Шиво светлый',
      ctrlName: 'ПВХ покрытие наружное',
    },
    {
      id: 'step3_1_3',
      img: 'step3_1-3',
      name: 'Ясень черный',
      ctrlName: 'ПВХ покрытие наружное',
    },
    {
      id: 'step3_1_4',
      img: 'step3_1-4',
      name: 'Ясень рифленый золото',
      ctrlName: 'ПВХ покрытие наружное',
    },
    {
      id: 'step3_1_5',
      img: 'step3_1-5',
      name: 'Шампань темная',
      ctrlName: 'ПВХ покрытие наружное',
    },
    {
      id: 'step3_1_6',
      img: 'step3_1-6',
      name: 'Черная шагрень',
      ctrlName: 'ПВХ покрытие наружное',
    },
    {
      id: 'step3_1_7',
      img: 'step3_1-7',
      name: 'Тиковое дерево',
      ctrlName: 'ПВХ покрытие наружное',
    },
    {
      id: 'step3_1_8',
      img: 'step3_1-8',
      name: 'Старое дерево',
      ctrlName: 'ПВХ покрытие наружное',
    },
    {
      id: 'step3_1_9',
      img: 'step3_1-9',
      name: 'Старое дерево',
      ctrlName: 'ПВХ покрытие наружное',
    },
    {
      id: 'step3_1_10',
      img: 'step3_1-10',
      name: 'Сандал серый',
      ctrlName: 'ПВХ покрытие наружное',
    },
    {
      id: 'step3_1_11',
      img: 'step3_1-11',
      name: 'Сандал белый',
      ctrlName: 'ПВХ покрытие наружное',
    },
    {
      id: 'step3_1_12',
      img: 'step3_1-12',
      name: 'Риф белоснежный',
      ctrlName: 'ПВХ покрытие наружное',
    },
    {
      id: 'step3_1_13',
      img: 'step3_1-13',
      name: 'Орех',
      ctrlName: 'ПВХ покрытие наружное',
    },
    {
      id: 'step3_1_14',
      img: 'step3_1-14',
      name: 'Орех грецкий',
      ctrlName: 'ПВХ покрытие наружное',
    },
    {
      id: 'step3_1_15',
      img: 'step3_1-15',
      name: 'Орех 304',
      ctrlName: 'ПВХ покрытие наружное',
    },
    {
      id: 'step3_1_16',
      img: 'step3_1-16',
      name: 'Молочный софт',
      ctrlName: 'ПВХ покрытие наружное',
    },
    {
      id: 'step3_1_17',
      img: 'step3_1-17',
      name: 'Миланский орех',
      ctrlName: 'ПВХ покрытие наружное',
    },
    {
      id: 'step3_1_18',
      img: 'step3_1-18',
      name: 'Металлик',
      ctrlName: 'ПВХ покрытие наружное',
    },
    {
      id: 'step3_1_19',
      img: 'step3_1-19',
      name: 'Лиственница темная',
      ctrlName: 'ПВХ покрытие наружное',
    },
    {
      id: 'step3_1_20',
      img: 'step3_1-20',
      name: 'Кремовый шелк',
      ctrlName: 'ПВХ покрытие наружное',
    },
    {
      id: 'step3_1_21',
      img: 'step3_1-21',
      name: 'Красное дерево',
      ctrlName: 'ПВХ покрытие наружное',
    },
    {
      id: 'step3_1_22',
      img: 'step3_1-22',
      name: 'Кофейное дерево',
      ctrlName: 'ПВХ покрытие наружное',
    },
    {
      id: 'step3_1_23',
      img: 'step3_1-23',
      name: 'Кокос',
      ctrlName: 'ПВХ покрытие наружное',
    },
    {
      id: 'step3_1_24',
      img: 'step3_1-24',
      name: 'Капучино',
      ctrlName: 'ПВХ покрытие наружное',
    },
    {
      id: 'step3_1_25',
      img: 'step3_1-25',
      name: 'Итальянский орех',
      ctrlName: 'ПВХ покрытие наружное',
    },
    {
      id: 'step3_1_26',
      img: 'step3_1-26',
      name: 'Дуб янтарный',
      ctrlName: 'ПВХ покрытие наружное',
    },
    {
      id: 'step3_1_27',
      img: 'step3_1-27',
      name: 'Дуб шоколадный',
      ctrlName: 'ПВХ покрытие наружное',
    },
    {
      id: 'step3_1_28',
      img: 'step3_1-28',
      name: 'Дуб темный',
      ctrlName: 'ПВХ покрытие наружное',
    },
    {
      id: 'step3_1_29',
      img: 'step3_1-29',
      name: 'Дуб сонома',
      ctrlName: 'ПВХ покрытие наружное',
    },
    {
      id: 'step3_1_30',
      img: 'step3_1-30',
      name: 'Дуб седой',
      ctrlName: 'ПВХ покрытие наружное',
    },
    {
      id: 'step3_1_31',
      img: 'step3_1-31',
      name: 'Дуб светлый',
      ctrlName: 'ПВХ покрытие наружное',
    },
    {
      id: 'step3_1_32',
      img: 'step3_1-32',
      name: 'Дуб поперечный',
      ctrlName: 'ПВХ покрытие наружное',
    },
    {
      id: 'step3_1_33',
      img: 'step3_1-33',
      name: 'Дуб мореный',
      ctrlName: 'ПВХ покрытие наружное',
    },
    {
      id: 'step3_1_34',
      img: 'step3_1-34',
      name: 'Дуб кантри светлый',
      ctrlName: 'ПВХ покрытие наружное',
    },
    {
      id: 'step3_1_35',
      img: 'step3_1-35',
      name: 'Дуб венецианский',
      ctrlName: 'ПВХ покрытие наружное',
    },
    {
      id: 'step3_1_36',
      img: 'step3_1-36',
      name: 'Дуб беленый',
      ctrlName: 'ПВХ покрытие наружное',
    },
    {
      id: 'step3_1_37',
      img: 'step3_1-37',
      name: 'Дуб бежевый',
      ctrlName: 'ПВХ покрытие наружное',
    },
    {
      id: 'step3_1_38',
      img: 'step3_1-38',
      name: 'Венге',
      ctrlName: 'ПВХ покрытие наружное',
    },
    {
      id: 'step3_1_39',
      img: 'step3_1-39',
      name: 'Венге светлый рифленый',
      ctrlName: 'ПВХ покрытие наружное',
    },
    {
      id: 'step3_1_40',
      img: 'step3_1-40',
      name: 'Венге поперечный',
      ctrlName: 'ПВХ покрытие наружное',
    },
    {
      id: 'step3_1_41',
      img: 'step3_1-41',
      name: 'Белая шагрень',
      ctrlName: 'ПВХ покрытие наружное',
    },
  ]

  const step3_bottom_section_right_content = [
    {
      id: 'step3_3_1',
      img: 'step3_3-1',
      name: 'Оф. 1',
      ctrlName: 'Оформление наружнее',
      checked: true
    },
    {
      id: 'step3_3_2',
      img: 'step3_3-2',
      name: 'Оф. 2',
      ctrlName: 'Оформление наружнее',
    },
    {
      id: 'step3_3_3',
      img: 'step3_3-3',
      name: 'Оф. 3',
      ctrlName: 'Оформление наружнее',
    },
    {
      id: 'step3_3_4',
      img: 'step3_3-4',
      name: 'Оф. 4',
      ctrlName: 'Оформление наружнее',
    },
    {
      id: 'step3_3_5',
      img: 'step3_3-5',
      name: 'Оф. 5',
      ctrlName: 'Оформление наружнее',
    },
    {
      id: 'step3_3_6',
      img: 'step3_3-6',
      name: 'Оф. 6',
      ctrlName: 'Оформление наружнее',
    },
    {
      id: 'step3_3_7',
      img: 'step3_3-7',
      name: 'Оф. 7',
      ctrlName: 'Оформление наружнее',
    },
    {
      id: 'step3_3_8',
      img: 'step3_3-8',
      name: 'Оф. 8',
      ctrlName: 'Оформление наружнее',
    },
    {
      id: 'step3_3_9',
      img: 'step3_3-9',
      name: 'Оф. 9',
      ctrlName: 'Оформление наружнее',
    },
    {
      id: 'step3_3_10',
      img: 'step3_3-10',
      name: 'Оф. 10',
      ctrlName: 'Оформление наружнее',
    },
    {
      id: 'step3_3_11',
      img: 'step3_3-11',
      name: 'Оф. 11',
      ctrlName: 'Оформление наружнее',
    },
    {
      id: 'step3_3_12',
      img: 'step3_3-12',
      name: 'Оф. 12',
      ctrlName: 'Оформление наружнее',
    },
    {
      id: 'step3_3_13',
      img: 'step3_3-13',
      name: 'Оф. 13',
      ctrlName: 'Оформление наружнее',
    },
    {
      id: 'step3_3_14',
      img: 'step3_3-14',
      name: 'Оф. 14',
      ctrlName: 'Оформление наружнее',
    },
    {
      id: 'step3_3_15',
      img: 'step3_3-15',
      name: 'Оф. 15',
      ctrlName: 'Оформление наружнее',
    },
    {
      id: 'step3_3_16',
      img: 'step3_3-16',
      name: 'Оф. 16',
      ctrlName: 'Оформление наружнее',
    },
    {
      id: 'step3_3_17',
      img: 'step3_3-17',
      name: 'Оф. 17',
      ctrlName: 'Оформление наружнее',
    },
    {
      id: 'step3_3_18',
      img: 'step3_3-18',
      name: 'Оф. 18',
      ctrlName: 'Оформление наружнее',
    },
    {
      id: 'step3_3_19',
      img: 'step3_3-19',
      name: 'Оф. 19',
      ctrlName: 'Оформление наружнее',
    },
    {
      id: 'step3_3_20',
      img: 'step3_3-20',
      name: 'Оф. 20',
      ctrlName: 'Оформление наружнее',
    },
    {
      id: 'step3_3_21',
      img: 'step3_3-21',
      name: 'Оф. 21',
      ctrlName: 'Оформление наружнее',
    },
    {
      id: 'step3_3_22',
      img: 'step3_3-22',
      name: 'Оф. 22',
      ctrlName: 'Оформление наружнее',
    },
    {
      id: 'step3_3_23',
      img: 'step3_3-23',
      name: 'Оф. 23',
      ctrlName: 'Оформление наружнее',
    },
    {
      id: 'step3_3_24',
      img: 'step3_3-24',
      name: 'Оф. 24',
      ctrlName: 'Оформление наружнее',
    },
    {
      id: 'step3_3_25',
      img: 'step3_3-25',
      name: 'Оф. 25',
      ctrlName: 'Оформление наружнее',
    },
    {
      id: 'step3_3_26',
      img: 'step3_3-26',
      name: 'Оф. 26',
      ctrlName: 'Оформление наружнее',
    },
    {
      id: 'step3_3_27',
      img: 'step3_3-27',
      name: 'Оф. 27',
      ctrlName: 'Оформление наружнее',
    },
    {
      id: 'step3_3_28',
      img: 'step3_3-28',
      name: 'Оф. 28',
      ctrlName: 'Оформление наружнее',
    },
    {
      id: 'step3_3_29',
      img: 'step3_3-29',
      name: 'Оф. 29',
      ctrlName: 'Оформление наружнее',
    },
    {
      id: 'step3_3_30',
      img: 'step3_3-30',
      name: 'Оф. 30',
      ctrlName: 'Оформление наружнее',
    },
    {
      id: 'step3_3_31',
      img: 'step3_3-31',
      name: 'Оф. 31',
      ctrlName: 'Оформление наружнее',
    },
    {
      id: 'step3_3_32',
      img: 'step3_3-32',
      name: 'Оф. 32',
      ctrlName: 'Оформление наружнее',
    },
    {
      id: 'step3_3_33',
      img: 'step3_3-33',
      name: 'Оф. 33',
      ctrlName: 'Оформление наружнее',
    },
    {
      id: 'step3_3_34',
      img: 'step3_3-34',
      name: 'Оф. 34',
      ctrlName: 'Оформление наружнее',
    },
    {
      id: 'step3_3_35',
      img: 'step3_3-35',
      name: 'Оф. 35',
      ctrlName: 'Оформление наружнее',
    },
    {
      id: 'step3_3_36',
      img: 'step3_3-36',
      name: 'Оф. 36',
      ctrlName: 'Оформление наружнее',
    },
    {
      id: 'step3_3_37',
      img: 'step3_3-37',
      name: 'Оф. 37',
      ctrlName: 'Оформление наружнее',
    },
    {
      id: 'step3_3_38',
      img: 'step3_3-38',
      name: 'Оф. 38',
      ctrlName: 'Оформление наружнее',
    },
    {
      id: 'step3_3_39',
      img: 'step3_3-39',
      name: 'Оф. 39',
      ctrlName: 'Оформление наружнее',
    },
  ]