/* purgecss start ignore */
@forward "@styles/_extends/flexbox";
@forward "@styles/_extends/resets";
@use "@styles/_mixins/text-truncate" as *;
@use "@styles/_mixins/container-queries" as *;
@use "@styles/_vars/scoped" as *;


.main-radio-xs {

  label {
    position: relative;
    @extend %flex-align;
    gap: 16px;
    padding-left: 38px;
    cursor: pointer;

    &::before {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      transition: background-color 0.2s linear;
  
      width: 22px;
      height: 22px;
      content: '';
      
      border-radius: 2px;
      background-color: var(--muted);
      background-size: 12px;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('@/assets/img/icon-check.svg');
    }
  }

  &:has(input:checked) label::before {
    opacity: 1;
    background-color: var(--primary);
    background-image: url('@/assets/img/icon-check.svg');
  }

  &__pattern {
    @extend %flex-center;
    border-radius: 50%;
    border: 1px solid var(--muted);
    width: 72px;
    height: 72px;

    img {
      width: 60px;
      height: 60px;
      aspect-ratio: 1/1;
      object-fit: cover;
      object-position: center;
    }
  }
  
  &__content {
    @extend %flex-column;
    gap: 6px;
  }

  &__title {
    font-style: 17px;
    font-weight: 400;
  }

  &__price {
    font-style: 20px;
    font-weight: 700;
  }


  input[type="radio"] {
    display: none;
  }

  

}
// .main-radio-with-image {
//   user-select: none;
//   opacity: .5;
//   transition: opacity 0.2s linear, transform 0.2s linear;

//   &__header {
//     border: 1px solid #e4e4e4;
//     border-radius: 2px;
//     overflow: hidden;
//     transition: border-color 0.2s linear;
//     background-color: var(--white);
//     max-height: 490px;
//   }

//   label {
//     @extend %flex-column;
//     gap: 16px;
//     cursor: pointer;
//   }

//   input[type="radio"] {
//     display: none;
//   }

//   &:has(input:checked) {
//     opacity: 1;
//     transform: translateY(-10px);

//     .main-radio__header {
//       border-color: var(--primary);
//     }

//     .main-radio__footer::after {
//       opacity: 1;
//       transform: translateY(-50%);
//       background-color: var(--primary);
//       background-image: url('@/assets/img/icon-check.svg');
//     }
//   }

//   &__footer {
//     position: relative;
//     @extend %flex-column;
//     padding: 0px 20px;
//     gap: 8px;
//     overflow: hidden;

//     &::after {
//       position: absolute;
//       top: 50%;
//       right: 0;
//       transform: translateY(200%);
//       opacity: 0;
//       transition: transform 0.2s linear, opacity 0.2s linear, background-color 0.2s linear;
  
//       width: 44px;
//       height: 44px;
//       content: '';
      
//       border-radius: 2px;
//       background-color: transparent;
//       background-size: 24px;
//       background-repeat: no-repeat;
//       background-position: center;
//     }
//   }

//   img {
//     width: 100%;
//     height: 100%;
//     object-fit: contain;
//     pointer-events: none;
//   }

//   &__title {
//     font-size: 17px;
//     font-weight: 400;
//   }

//   &__price {
//     font-size: 20px;
//     font-weight: 700;
//   }
// }
/* purgecss end ignore */