/* purgecss start ignore */
@forward "@styles/_extends/flexbox";
@forward "@styles/_extends/resets";
@use "@styles/_mixins/text-truncate" as *;
@use "@styles/_mixins/container-queries" as *;
@use "@styles/_vars/scoped" as *;

.main-radio-xs {
  label {
    position: relative;
    @extend %flex-align;
    gap: 16px;
    padding-left: 38px;
    cursor: pointer;

    &::before {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      transition: background-color 0.2s linear;
  
      width: 22px;
      height: 22px;
      content: '';
      
      border-radius: 2px;
      background-color: var(--muted);
      background-size: 12px;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('@/assets/img/icon-check.svg');
    }
  }

  &:has(input:checked) label::before {
    opacity: 1;
    background-color: var(--primary);
    background-image: url('@/assets/img/icon-check.svg');
  }

  &__pattern {
    @extend %flex-center;
    border-radius: 50%;
    border: 1px solid var(--muted);
    width: 72px;
    height: 72px;
    aspect-ratio: 1/1;

    img {
      width: 60px;
      height: 60px;
      aspect-ratio: 1/1;
      object-fit: cover;
      object-position: center;
    }

    @include container-down('lw-calc', $tablet-width) {
      width: 52px;
      height: 52px;
  
      img {
        width: 40px;
        height: 40px;
      }
    }
  }
  
  &__content {
    @extend %flex-column;
    gap: 6px;
  }

  &__title {
    font-size: clamp(12px, 2.4vw, 17px);
    font-weight: 400;
  }

  &__price {
    font-size: clamp(14px, 2.4vw, 20px);
    font-weight: 700;
  }

  input[type="radio"] {
    display: none;
  }
}
/* purgecss end ignore */